<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="small">Topraksız Tarım Otomasyonu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row>
    <ion-col>
      <ngx-gauge type="arch" [size]="120" [duration]="500" [min]="0" [max]="100" [value]="temperature.waterTemperature"
        label="Su Sıcaklığı" append="°C" foregroundColor="#2ee7ff"></ngx-gauge>
    </ion-col>
    <ion-col>
      <ngx-gauge type="arch" [size]="120" [duration]="500" [min]="0" [max]="100" [value]="temperature.moisture" label="Nem"
        append="%" foregroundColor="#220bff"></ngx-gauge>
    </ion-col>
    <ion-col>
      <ngx-gauge type="arch" [size]="120" [duration]="500" [min]="0" [max]="40" [value]="temperature.weatherTemperature"
        label="Ortam Sıcaklığı" append="°C" foregroundColor="#ff6b6b"></ngx-gauge>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <input class="nbin" nbInput placeholder="Tarih Aralığı Seçin" [nbDatepicker]="formpicker">
      <nb-rangepicker #formpicker lang="tr-TR" (rangeChange)="rangeChange($event)" [max]="today"></nb-rangepicker>
    </ion-col>
  </ion-row>
  <div echarts [options]="chartOption" class="demo-chart" (chartInit)="onChartInit($event)"></div>
</ion-content>
